<nav class="navbar navbar-default bg-faded ">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a href="#" class="navbar-brand">{{ title }}</a>

        </div>
        <div class="navbar-collapse collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li><a [routerLink]="['./Home']">Home</a></li>
                <li *ngIf="username"><a [routerLink]="['./Accounts']">Konten</a></li>
            </ul>

            <div class="navbar-right" >
                <p class="navbar-text" *ngIf="username">Signed in as {{ username }} <a (click)="onLogout()">logout</a></p>
                <p class="navbar-text" *ngIf="!username"><a [routerLink]="['./Login']">Login</a></p>
            </div>
        </div>


    </div>
</nav>

<main class="container">
    <router-outlet></router-outlet>
</main>

<footer>
    <p><span class="glyphicon glyphicon-education"></span> Brought to you by Team Eins</p>
</footer>