html {
    position: relative;
    min-height: 100%;
}
body {
    margin: 0 0 32px; /* bottom = footer height */
}
footer {
    background-color: lightgray;
    line-height: 30px;
    vertical-align: middle;
    text-align: center;
    padding: 0 auto;
    border-top: 2px solid darkgray;
    position: absolute;
    left: 0;
    bottom: 0;
    height: 30px;
    width: 100%;
}

/* vertical alignment */
.container-vertical {
    height:400px;
    margin: 20px;
    font-size:0;
    text-align: center;
}

.container-vertical:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

.box-vertical {
    display: inline-block;
    padding: 2em;
    /*border: 1px solid #000;*/
    border-radius: 1em;
    box-shadow: 0 0 5px #888888;
    font-size:1rem;
    vertical-align: middle;
    width: 40em;
}

/* login component */
.login {
}

.login h3 {
    margin-bottom: 1em;
}